.app_buttonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: 1em;
  margin-top: 1em;
  width: 100%;
}

.app_button {
  font-size: medium;
  padding: 0.5em 1em;
  text-decoration: none;
  font-weight: bold;
  color: white;
  background: linear-gradient(138deg,
          rgba(255,255,255,0.3) 0%,
          rgba(255,255,255,0.3) 29%,
          rgba(131,152,157,0.5) 100%
  );
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.2);


  &.app_buttonCta {
    color: white;
    background: linear-gradient(138deg,
            rgba(255,255,255,0.3) 0%,
            rgba(255,255,255,0.3) 29%,
            rgba(0,212,255,0.5) 100%
    );
  }

  &.app_buttonDanger {
    color: white;
    background: linear-gradient(138deg,
            rgba(255,138,138,0.3) 0%,
            rgba(255,138,138,0.3) 29%,
            rgba(255,98,98,0.5) 100%
    );
  }
}