form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  overflow: auto;

  .app_formRow {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;

    label {
      width: 100%;
      margin-bottom: 0.3em;
    }

    input, select, textarea {
      flex: 1;
      color: white;
      background: linear-gradient(138deg,
              rgba(255,255,255,0.3) 0%,
              rgba(255,255,255,0.3) 29%,
              rgba(131,152,157,0.5) 100%
      );
      padding: 0.5em;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      border: 1px solid rgba(255, 255, 255, 0.2);
    }

    textarea {
      min-height: 50px;
    }
  }

  .app_formTextRow {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;

    .app_formText {
      padding: 0.15em 0.5em;
    }
  }

  .app_formElement_button {
    display: flex;

    button, input[type=submit] {
      flex: none;
    }
  }
}