.app_menu {
  nav ul {
    display: flex;
    align-items: center;
    padding: 0;
    gap: 1em;

    li {
      list-style: none;

      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}