.app_notificationsContainer {
  position: relative;

  .app_notificationsContainer-flash {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1em;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1000;
  }
}


.app_notification_flash {
  display: flex;
  align-items: center;
  min-width: 200px;
  max-width: 450px;
  padding: 1em;
  background: linear-gradient(138deg,
          rgba(255,255,255,0.3) 0%,
          rgba(255,255,255,0.1) 29%,
          rgba(0,212,255,0.1) 100%
  );
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.2);

  &.success {
    background: linear-gradient(138deg,
            rgba(255,255,255,0.3) 0%,
            rgba(255,255,255,0.1) 29%,
            rgba(3,255,0,0.1) 100%
    );
  }
}