.app_tileList {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
  overflow: auto;
  gap: 1em;

  &.app_inlineTileList {
    flex-wrap: nowrap;

    .app_tile {
      flex: 1;
      min-width: 200px;
    }
  }
}

.app_tile {
  width: 100%;
  padding: 1em;
  background: linear-gradient(138deg,
      rgba(255,255,255,0.3) 0%,
      rgba(255,255,255,0.1) 29%,
      rgba(0,212,255,0.1) 100%
  );
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}