@import "menu";
@import "tiles/tiles";
@import "forms";
@import "buttons";
@import "notifications";

@import "comments/comments";


*, ::before, ::after {
  box-sizing: border-box;
}

body {
  background-color: #0c1925;
  color: white;
  padding: 1em;
}

p {
  margin: 0;
  margin-bottom: 0.3em;
}

.app_loadingPage {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}