.app_comment {
  * {
    margin: 0;
  }

  h3 {
    font-size: medium;
  }

  &.app_comment_mine {
    margin-left: auto;
  }


  display: flex;
  flex-direction: column;
  width: 95%;
  max-width: 400px;
  background-color: #ffffff20;
  margin-bottom: 1em;
  padding: 1em;
}